<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>{{ page.title }} / CSE 230</title>
        <link rel="stylesheet" href="/cse230/css/screen.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/cse230/css/screen-code-style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/cse230/css/print.css" type="text/css" media="print" />
        <link rel="stylesheet" href="/cse230/css/print-code-style.css" type="text/css" media="print" />
        <link rel="shortcut icon" type="image/x-icon" href="/cse230/favicon.ico">
        <script type="text/javascript" src="/cse230/js/flexpaper_flash.js"></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-23971505-1']);
            _gaq.push(['_setDomainName', '.github.com']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
         </script>
    </head>
    <body>
        <div id="content">
            <div id="header">
                <a href="/cse230">Home</a> &nbsp; &nbsp;
                <a href="http://www.google.com/talk/service/badge/Start?tk=z01q6amlqnoon14fnt6334buq61fea0i4icja4nq58h3sgf9nbje342fatjfn3sn4gq6kkjt145uq473se42hrj2rismtrlst9ecd7thn3bfumfl0ha4mp80a6luih0n16v14s5uvgajcannpn56523d4pur2bkbh2978rgj6" target="_blank" title="Click here to chat with Pawas">Chat with Pawas</a><img style="padding:0 2px 0 0;margin:0;border:none" src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqnoon14fnt6334buq61fea0i4icja4nq58h3sgf9nbje342fatjfn3sn4gq6kkjt145uq473se42hrj2rismtrlst9ecd7thn3bfumfl0ha4mp80a6luih0n16v14s5uvgajcannpn56523d4pur2bkbh2978rgj6&amp;w=9&amp;h=9" alt="" height="9" width="9"><img style="padding:0 2px 0 0;margin:0;border:none" src="http://www.google.com/talk/service/resources/chaticon.gif" alt="" height="14" width="16">
            </div>

            <h1>{{ page.title }}</h1>

            {{ content }}

<div style="font-size: 80%;">
<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">CSE 230 material</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://pawasranjan.github.com/cse230" property="cc:attributionName" rel="cc:attributionURL">Pawas Ranjan</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>. Source code for this website available at <a href="https://github.com/pawasranjan/cse230">GitHub</a>.
</div>
        </div>
    </body>
</html>
